<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
    <div class="container">
      <a
        class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
        href="index.html"
      >
        <img src="" alt="site icon" />
      </a>

      <div class="order-lg-2 nav-btns">
        <button type="button" class="btn position-relative">
          <i class="fa fa-shopping-cart"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge bg-primary"
            >5</span
          >
        </button>
        <button type="button" class="btn position-relative">
          <i class="fa fa-heart"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge bg-primary"
            >2</span
          >
        </button>
        <button type="button" class="btn position-relative">
          <i class="fa fa-search"></i>
        </button>
      </div>

      <button
        class="navbar-toggler border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navMenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-lg-1" id="navMenu">
        <ul class="navbar-nav mx-auto text-center">
          <li class="nav-item px-2 py-2">
            <a class="nav-link text-uppercase text-dark" href="#header">Home</a>
          </li>
          <li class="nav-item px-2 py-2">
            <a class="nav-link text-uppercase text-dark" href="#collection"
              >Sobre nosotros</a
            >
          </li>
          <li class="nav-item px-2 py-2">
            <a class="nav-link text-uppercase text-dark" href="#special"
              >Catalogo</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="title text-center">
      <h2 class="position-relative d-inline-block">New Collection</h2>
    </div>
  </div>

  <div class="row g-0">
    <div
      class="d-flex flex-wrap justify-content-center mt-5 filter-button-group barraBTN"
    >
      <button
        type="button"
        class="btn m-2 text-dark active-filter-btn"
        data-filter="*"
      >
        All
      </button>
      <button type="button" class="btn m-2 text-dark" data-filter=".best">
        Best Sellers
      </button>
      <button type="button" class="btn m-2 text-dark" data-filter=".feat">
        Featured
      </button>
      <button type="button" class="btn m-2 text-dark" data-filter=".new">
        New Arrival
      </button>
    </div>
  </div>

  <div class="contenedor">
    <table class="gallery">
      <thead *ngFor="let p of prendas" class="cont">
        <th class="columna">
          <div class="card">
            <!--
                <div class="card-image" *ngFor="let img of p.images">
              <img [src]="img.url" alt="" class="imgPrenda">
            </div>
              -->
              <div class="card-image" *ngFor="let img of p.images">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img [src]="img.url" alt="" class="imgPrenda">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>


              </div>
            

            <div class="card-text">
              text
              <span class="date">date</span>
              <h3>{{ p.name }}</h3>
              <p>{{ p.review }}</p>
            </div>

            <div class="card-stats">
              <div class="stat">
                <div class="value">{{ p.size }}</div>
              </div>

              <div class="stat border">
                <div class="value">{{ p.price }}</div>
              </div>
            </div>
          </div>
        </th>
      </thead>
    </table>
  </div>



  <!--
     <th class="columna">
          <div class="collection-list mt-4 row gx-0 gy-3">
            <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
              <div class="collection-img position-relative" *ngFor="let img of prenda.images" >
                <img src="img.url" class="w-300" />
                <p></p>
                <span
                  class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
                  >Venta</span
                >
              </div>

              <div class="text-center">
                <p class="text-capitalize my-1">{{ prenda.name }}</p>
                <span class="fw-bold">{{ prenda.price }}</span>
                <span class="fw-bold">{{ prenda.size }}</span>
                <span class="fw-bold">{{ prenda.images }}</span>
              </div>
            </div>
          </div>
  -->

  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
  <!-- bootstrap js -->
  <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
  <!-- custom js -->
  <script src="js/script.js"></script>
</body>

<!--
<body  *ngIf="usuario.idRol == 1">
    <div class="nuevoAlumno">
      <h3>Crear nueva prenda</h3>
      <span ><button type="button" class="btn btn-success" (click)="crearUnAlumno()"><i class="bi bi-person-plus"></i></button></span>
    </div>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Review</th>
          <th scope="col">Color</th>
          <th scope="col">Talle</th>
          <th scope="col">Precio</th>
          <th scope="col">Categoria</th>
          <th scope="col">Subcategoria</th>     
          <th scope="col">Imagenes</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Modificar</th>
        </tr>
      </thead>
      <tbody *ngFor="let alumno of lista">
        <tr>
          <td><a [routerLink]="['/alumno-detail', alumno.id, usuario.id ]" class="linkName">{{alumno.nombre}}</a></td>
          <td>{{alumno.apellido}}</td>
          <td><button type="button" class="btn btn-danger" (click)="popUpBorrar(alumno.id, alumno.nombre)"><i class="bi bi-person-x"></i></button></td>
          <td><button type="button" class="btn btn-primary" (click)="modificar(alumno.id)"><i class="bi bi-upload"></i></button></td>
        </tr>
      </tbody>
    </table>
  
</body>
-->
