<div class="col-6 container">
    <div class="border-login">
      <div>
        <h2 class="titulo-login">Crear alumno</h2>
      </div>
      <form
        [formGroup]="prendaForm"
        (submit)="putPrenda(prendaForm)"
        class="loginForm"
      >
        <div class="form-group">
          <input
            type="text"
            minlength="3"
            maxlength="28"
            class="form-control"
            placeholder="{{prenda.name}}"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            minlength="3"
            maxlength="40"
            required
            class="form-control"
            placeholder="review"
            formControlName="review"
          />
          
        </div>
        <div class="form-group">
          <input
            type="text"
            minlength="3"
            maxlength="26"
            class="form-control"
            placeholder="colour"
            formControlName="colour"
          />
          
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="size"
            formControlName="size"
          />
          
        </div>
  
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="price"
            formControlName="price"
          />
          
        </div>
  
        <div class="form-group">
          <label class="label">Categoria</label>
          <div class="form-group">
            <select formControlName="categorie">
              <option *ngFor="let cat of categorias">{{ cat }}</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <input
            type="text"
            minlength="3"
            maxlength="20"
            class="form-control"
            placeholder="subCategorie"
            formControlName="subCategorie"
          />
         
        </div>
  
        <div class="form-group">
          <input type="file" (change)="uploadMultipleImages($event)" multiple>
        </div>
  
        <div class="align-center">
          <button
            class="btn btn-success"
            type="submit"
          >
            Crear prenda
          </button>
        </div>
      </form>
    </div>
  </div>

  