.container{
    display: flex;
    justify-content: space-between;
}
/*Globales*/
html {
    margin:0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 62.5%;
}

  *, *:before, *:after {
    box-sizing: inherit;
  }

  a{
    text-decoration: none;
  }


/* Barra busquedas*/
.barra-busquedas{
  display: flex;
  justify-content: space-around;
}

.container{
  width: 100%;

}

/*    hero   */

.hero{
  /*Altura*/
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /*Se pone al padre relative para dar lugar al hijo con el absolute*/
  position: relative;
  /*background-image: url(../../assets/images/sinmarcadeagua.jpeg);*/
  background-image: url(../../assets/images/shap2.svg);
  /*Ajusto el texto en el padre hero*/
  display: flex;
  justify-content: center;
  align-items: center;    
}

#imgLanding{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 70rem;
}

.img-fondo{
  width: 80%;
  height: 50rem;
  margin-left: 10rem;
}

@media (max-width: 600px) {
  .hero{
    width: 100%;
    background-image: url(../../assets/images/shapeMobile.svg);
    background-size: cover;
  }

  .img-fondo{
    width: 100%;
    height: 100%;
    margin-left: 0rem;
  }

  #imgLanding{
    height: 100%;
    width: 100%;
    margin-top: -1.5rem;
    margin-left: 2.5rem;
    border-radius: 130rem !important;
  }

  

}


.hero::after{
    
    /*Para ponerlo transparente*/
    content:'';
    background-color: rgba(0, 0, 0, .0); /*.7 nos da la transparencia*/
    /*toma todo lo disponible, al padre hay que darle relative*/
    position: absolute; 
    /*Posiciona la transparencia*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



/*Cards animadas*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap');

@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/


.navbar{
 
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* barraBTN  */
.barraBTN{
    padding: 2rem 0rem;
}




/* landing   */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
body {
  margin:0px;
  text-align:center;
  padding-top:15vh;
  color:#fff;
  font-family:'Roboto';
  font-size:36px;
  font-weight:100;
  animation:bg 5s linear infinite;
}

.dropping-texts {
  display: inline-block;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.dropping-texts > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:300;   
  box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 3s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 3s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 3s linear infinite 2s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll2 3s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  30% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  37% {
    font-size:1500px;
    opacity:0;
    margin-left:-1000px;
    margin-top:-800px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

.cont{
    display: flex;
    justify-content: flex-end;
}


/* slider y text   */

.text-botones{
  display: flex;
  justify-content: space-around;
}

/*TEXT ANIMATION*/
.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; 
}

/* Celulares mayores de 400 a 600*/
@media (min-width: 400px) and (max-width: 600px){
  .slide{
    left: 76% !important;
  }

  .box{
    width: 18rem !important;
    height: 24rem !important;
  }
}

/* celulares menores a 400 */
@media (min-width: 0px) and (max-width: 400px){
  .slide{
    left: 76% !important;
  }

  .box{
    width: 16.5rem !important;
    height: 24rem !important;
  }
}

@media (min-height: 600px) and (max-height: 700px){
  .slide{ 
    left: 93% !important;
  }

  .box{
    width: 18rem !important;
    height: 23rem !important;
  }
}

/* Iphone SE */
@media (width: 375px) and (height: 667px){
  .slide{
    left: 93% !important;
  }


  .box{
    width: 20rem !important;
    height: 23rem !important;
  }
}


/*Fin celulares*/

/* horizontales y escritorios de 600 a 800*/
@media (min-width: 640px) and (max-width: 1200px){
  .slide{
    left: 76% !important;
    width: 43% !important;
  }

  .box{
    width: 25.5rem !important;
    height: 22rem !important;
  }

  #imgLanding {
    width: 88%;
    height: 32rem;
    margin-left: 5rem;
  }
}


/*  Ordenadores   */
@media (min-width: 1920px ) {

  .box{
    width: 39.5rem !important;
    height: 29rem !important;
  }


  .img-fondo{
    width: 80%;
    height: 58rem;
    margin-left: 11rem
  }
}

@media (min-width: 1920px ) and (min-height: 1200px ) {

  .box{
    width: 43.5rem !important;
    height: 31rem !important;
  }

  .slide{
    margin-left: 4rem;
    margin-top: 10rem !important;
  }


  .img-fondo{
    width: 88%;
    height: 60rem;
    margin-left: 3rem;
  }

  #imgLanding{
    width: 95%;
    height: 72rem;  
  }
}

@media (min-width: 1366px ) and (min-height: 700px ) and (max-width: 1900px ){
 
  .box{
    width: 31.5rem !important;
    height: 27rem !important;
  }

  .img-fondo{
    width: 80%;
    height: 44rem;
    margin-left: 10rem;
  }

  .contenido{
    margin-left: 3rem;
  }
}


@media (min-width: 1280px ) and (height: 600px ) {
 
  .slide{
    margin-left: 7rem;
  }

  .box{
    width: 33.5rem !important;
    height: 28rem !important;
  }

  .img-fondo{
    width: 90%;
    height: 53rem;
    margin-left: 6rem;
  }
}

@media (min-width: 1600px ) and (height: 900px ) {
 

  .box{
    width: 35.5rem !important;
    height: 30rem !important;
  }

  .img-fondo{
    width: 90%;
    height: 53rem;
    margin-left: 0rem;
  }
}



/* Fin ordenadores */

.slide {
  position: absolute;
  margin-top: 8rem;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-animation: slide 0.3s forwards;
  -webkit-animation-delay: 0.7s;
  animation: slide 0.3s forwards;
  animation-delay: 0.7s;
}



/*END TEXT ANIMATION*/
.btn{
  width: 8rem;
  height: 2rem;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.shape{
  clip-path: polygon(0 0%, 0% 100%, 84% 50%);
  background-color:  rgba(254,144,255,1);
}

.texto{
  color: white;
  width: 50%;
  
}

.text-h1{
  font-family: 'Alex Brush', cursive;
  font-weight: 700;
  font-size: 3rem;
}

.text-h3{
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.img-container{
  width: 5rem;
  height: 5rem;
}

.slide2{
  position: absolute;
  right: -200%;
  width: 100%;
  height: 100%;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

.contenido{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 50rem;
  width: 40%;
  margin-left: -2rem;
  padding: 1rem 1rem; 
  z-index: 1;
  
}

/* BTN ANIMATION */


/* BORDER ANIMATION */

.box{
  position: absolute;
  left: 70%;
  transform: translate(-200%,-30%);
  width: 600px;
  height: 30rem;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  padding: 20px;
  background-color:#fcb4d4;
  border-radius: 14% 86% 89% 11% / 43% 50% 50% 57%;
  top: 12%;
  background-image: linear-gradient( 135deg, #fcb4d4 10%, #f871e8 100%);
}


.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  
}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}



@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 
/* grid*/
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

/* NAVBAR Y LOGO */
.logo{
  height: 4rem;
  width: 10rem;
}

.btn{
  width: 6rem;
  margin-right: 1rem;
}

.btn:hover{
  padding: 0rem 1rem;
  background: #ffb3f6;
  color: #fff;
}


.boton{
  display: block;
  width: 50%;
  height: 4rem;
  background: #ffb3f6;
  color: white;
  border: none;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
}

/* Boton ir */
.boton.boton-ir span{
  transition: .4s ease-in-out all;
  position: absolute;
  left: 0%;
  transform: rotate(0deg);
  font-family: 'Antonio', sans-serif;
}

.boton-ir:hover span{
  left: -40%;
}

.boton-ir .icono-ir{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: -40px;
  top: 15%;
  transition: .3s ease-in-out all;
  opacity: 0;
  margin: 0.5rem 0.1rem;
}

.boton-ir svg{
  color: #fff;
  width: 25px;
  height: 25px;
}

.boton-ir:hover{
  background-color: #ffb3f6;
}

.boton-ir:hover .icono-ir{
  left: calc(100% - 50px);
  opacity: 1;
}